
body{

    background-color: rgba(225, 225, 225, 0.932);
}
.main{
    display: flex;
    /* justify-content: space-around; */
    gap: 3%;

}
.product__main {
    /* border: 1px solid black; */
    background-color: #fff;
    margin-right: 20px;
    border-radius: 0.5rem;
    
}
.product__name{
    /* border: 1px solid blue; */
    /* background-color: #fff; */
    text-align: left;
    padding: 5px;
    padding-left: 8px;
}
.pro__nam{
    font-size:18px;
    margin-left: 18px;
    color: rgb(3, 3, 63);
    font-weight: 500;
}

.product__div{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 10px;
    width: 95%;
    background-color: #fff;
    padding: 0rem 0rem 1rem 0rem;
    margin: auto;
}
.pic__div{
    /* border: 1px solid blue; */
    width: 78%;
}
.pic__div:hover{
    display: block;
   width: 82%;
    cursor: pointer;
}

.product__all{
    border: 1px solid gray;
    width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    /* margin-top: 10px; */
}


.product__name{
    /* border: 1px solid red; */
    line-height: 16px;
}
.product__name:hover{
    cursor: pointer;
    font-size: 17px;
}
.product__cate{
    /* border: 1px solid red; */
    width: 90%;
    margin-top: -30px;
    text-align: left;
    margin-left: 8px;
}
.product__price{
    margin-top: -15px;
    text-align: left;
    margin-left: 8px;
}
.starbtn{
    font-size: 14px;
    margin-left: 6px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(10, 171, 10);
    color: rgb(239, 226, 226);
}

.star{
    font-size: 10px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 2px;
}
.filter__div{
    /* border: 1px solid green; */
    width: 50%;
    height: 800px;
    margin-left: 15px;
    border-radius: 1rem;
    background-color: #fff;
    /* position: sticky;
    top: 0px; */
}
.mainn__filteer{
    border: 1px solid gray;
    border-radius: 1rem;
    padding-bottom: 5px;
}
.filter_p{
    /* border: 1px solid red; */
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    /* width: 98%; */
    margin: auto;
    padding: 0.2rem 0.75rem;
    border-bottom: 1px solid gray;

}
.category_p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    /* width: 98%; */
    margin-top: -5px;
    padding: 0rem 0.75rem;
    border-bottom: 1px solid gray;
}
.product__checkbox{
    /* border: 1px solid red; */
    margin-left: 8px;
    text-align: left;
    font-size: 17px;
}
/* .product__checkbox{
    border: 1px solid red;
} */
.check__boxes{
    /* border: 1px solid green; */
    padding-bottom: 3px;
}
.mainn__sort{
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 10px;
    padding-bottom: 10px;
}
.btn{
    /* border: 1px solid red; */
    border: none;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #008ecc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.btn1{
    /* margin-left: 38%; */
    border-radius: 50%;
    width: 25%;
    /* height: 29px; */
    border: none;
    font-size: 23px;
    background-color: #20a8e3;
    color: #fff;
}
.pro__img{
    /* border: 1px solid red; */
    margin-right: 20px;
    margin-bottom: 2%;
}
.change_quantity_container{
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 35px;
    width: 45%;
    margin-left: 100px;
    rotate:initial;
    display: flex;
    gap: 5px;
    justify-content:flex-end;
    margin-bottom: 15px;
}
.quantity{
    font-size: 20px;
    /* text-align: center; */
    margin: auto;
}